div#deck-builder
  div(style="position: relative;")
    div(
      data-deck-cover,
      data-deck-class="{{deck.deckClass}}",
      data-deck-name="{{deck.name}}"
      data-ng-if="deck"
    )
    span.card-count(style="position: absolute; bottom: 3px; right: 20px;") {{totalCards}} cards
  div#add
    input#cardField(
      type="text",
      placeholder="Enter card name...",
      data-typeahead,
      data-add-card="addCard($card)"
    )
    button#addCard.btn.btn-success(title="Add Card")
      span.glyphicon.glyphicon-plus
  ul#cards
    li(data-ng-repeat="card in cards")
      div(
        data-card-thumbnail,
        data-card-id="{{card.id}}",
        data-card-count="{{card.count}}"
      )
